.company-info-container {
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.logo-heading {
  font-size: 16px;
  font-weight: 500;
}

.img-container {
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.4);
}

.logo-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 16px auto;
}

.banner-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 16px auto;
}

.logo-header {
  font-size: 14px;
  color: #888787;
}

.logo {
  height: 150px;
  width: 100%;
  background-color: #979696;
  border-radius: 4px;
}

.flex-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.byte {
  font-size: 14px;
  color: #888787;
}

.remove {
  font-size: 14px;
  color: #333333;
  cursor: pointer;
}

.replace {
  font-size: 14px;
  color: #3094bb;
  cursor: pointer;
}

.company-name {
  font-size: 14px;
  color: #333333;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid grey;
  border-radius: 3px;
}

.text-input {
  padding: 8px;
  border-radius: 3px;
}

.save-btn {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #3094bb;
  color: white;
  border: none;
  width: 15%;
  cursor: pointer;
}
