.parent-container {
  width: 75%;
  height: 80vh;
  margin: 32px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-page-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 32px;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 200px;
}

.error-btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.error-page-header {
  font-size: 24px;
  font-weight: 400;
}

.error-img {
  width: 100%;
  height: 500px;
}

.error-page-text {
  font-size: 14px;
  color: #a2a1a1;
}

.home-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: #1f82cd;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 3px;
}

.home-btn a {
  color: white;
}

.go-back-btn {
  border: none;
  color: #1f82cd;
  background-color: transparent;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #1f82cd;
}

.go-back-btn a {
  color: #1f82cd;
}
