.model-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 500px;
}

.promote-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-heading {
  font-size: 16px;
  font-weight: 400;
}

.modal-description {
  font-size: 14px;
  color: #bdbbbb;
}
