.sidebar-container {
  width: 25%;
  height: 100vh;
  padding: 14px;
  border-right: 1px solid #c2c1c1;
  position: relative;
}

.sidebar-heading {
  font-weight: 400;
  font-size: 14px;
  color: #c2c1c1;
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 16px;
  color: #828181;
}

.item {
  cursor: pointer;
}

.item a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
}

.item a.active {
  border-left: 3px solid #24a7da;
  background-color: #dceef6;
  width: 100%;
}

.last-item {
  margin-top: 30%;
}
